*{
  font-family: 'Coda', cursive;
}
body{
  background: rgb(255, 255, 255);
}

button{
  border: none;
  background: rgb(255,255,255);
  outline: none;
  &:hover{
    cursor: pointer;
  }
}

.container{
  position: relative;
  text-align: center;
}

.settings-container{
  display: inline-block;
  //background: pink;
  width: 300px;
  margin: 30px auto auto auto;
}

.session-settings{
  float: right;
  display: inline-block;
  //width: 100px;
}

.break-settings{
  float: left;
  display: inline-block;
  //width: 100px;
}

#break-time, #session-time{
  font-size: 25px;
}

.clock-container{
  position: relative;
  top: 10px;
}

.controls{
  margin: 20px 0 0 0;
}
.material-icons{
  margin: 0 30px 0 30px;
  //font-size: 50px;
}

i{
  font-size: 10px;
}

#minus-break, #add-break, #minus-session, #add-session{
  font-size: 25px;
  font-weight: bold;
}

#tips{
  font-size: 10px;
}
